# kjson installed files
/include/kjson.h
/include/kjson.hh
/lib/pkgconfig/kjson.pc
/lib/libkjson.a
/lib/libkjson.so
lib/libcheck-data.so
*.d

# src directory
/src/.ipynb_checkpoints/*
/src/run_smlp.py
/src/local_paths.py
/src/process_shai.py
/src/process_*.py

# smlp_tmp directory
/src/smlp_tmp/*

# smlp directory
/src/smlp/.ipynb_checkpoints/*
/src/smlp/subgroups.py

# smlp_py directory
/src/smlp_py/.ipynb_checkpoints/*
#/src/smlp_py/subgroups.py
/src/smlp_py/correlations.py
/src/smlp_py/range_plots_template.html
/src/smlp_py/range_plots.py
/src/smlp_py/range_plots.py_save

# bin directory
bin/check-data-cmd

# regeression
/regr/*

# obj directory
obj/cbuf.c.o
obj/check-data-lib.c.o
obj/check-data.c.o
obj/response.c.o
obj/table.c.o

/regr_smlp/code/Test*.*
/regr_smlp/code/test*.*
/regr_smlp/code/__pycache__/
/regr_smlp/code/all_log.txt
/regr_smlp/code/logs.log

# ignore files for tests 130,131 as the data set is too big for the repository
/regr_smlp/data/smlp_s2_tx.csv
/regr_smlp/master/Test130_*.*
/regr_smlp/master/Test131_*.*
/result
/data
.idea
src/logs.log
*.pb
variables/
